@import "./Variables.scss";

.connect-wallet {
  display: flex;
  margin: 25% 0;
  align-items: ceter;
  justify-content: center;

  button {
    border: 0;
    outline: 1px solid aqua;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    background: linear-gradient(to bottom right, $first_gradient, $second_gradient);
    padding: 2%;
    width: 70%;
    cursor: pointer;
  }

  button:active {
    outline: 3px solid aqua;
  }
  // Connect Wallet Modal
  .connect-wallet-modal {
    margin-top: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .modal-bg {
      z-index: 3;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(128, 128, 128, 0.9);
    }
    .container {
      background-color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      border: 1px solid black;
      border-radius: 15px;
      z-index: 4;
      // Wallets
      .modal-wallet-item {
        padding: 10% 5%;
        cursor: pointer;
        img {
          width: 13%;
        }
        h2 {
          margin-top: 2%;
          margin-bottom: 0;
          font-size: 1.6rem;
        }
      }
      .modal-wallet-item:hover {
        padding: 5%;
        img {
          width: 20%;
        }
        h2 {
          font-size: 1.8rem;
        }
      }
      .metamask {
        border-top-left-radius: 15px;
        border-bottom: 1px solid rgb(219, 215, 215);
      }
      .coinbase-wallet {
        border-top-right-radius: 15px;
        border-left: 1px solid rgb(219, 215, 215);
      }
      .wallet-connect {
        border-bottom-left-radius: 15px;
        border-right: 1px solid rgb(219, 215, 215);
      }
      .torus {
        border-bottom-right-radius: 15px;
        border-top: 1px solid rgb(219, 215, 215);
      }
    }
  }
}
