@import "./Variables.scss";

.lottery {
  margin-top: 8%;
  text-align: center;
  position: relative;
  padding: 6% 4%;
  background-color: #e4e4ee;
  h1 {
    background: linear-gradient(to bottom right, $first_gradient, $second_gradient);
    background-clip: text;
    color: transparent;
  }
  hr {
    margin: 3% auto;
    width: 70%;
    border-radius: 50%;
  }
  // Lottery Content
  .lottery-content {
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid $first_gradient;
    .lottery-pool {
      margin-bottom: 3%;
      h1 {
        margin-bottom: 1%;
      }
      h2 {
        margin: 0;
        font-weight: 300;
      }
    }
    // Lottery Main
    .lottery-main {
      .enter-eth {
        input {
          width: 40%;
          border: none;
          outline: gray 1px solid;
          border-radius: 5px;
          padding: 1%;
          font-size: 1.5rem;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          appearance: none;
          -webkit-appearance: none;
        }
        button {
          margin-top: 2%;
          border: 0;
          outline: 1px solid aqua;
          border-radius: 10px;
          box-shadow: 0 0 3px black;
          font-weight: 700;
          color: white;
          font-size: 1.2rem;
          background: linear-gradient(to bottom right, $first_gradient, $second_gradient);
          padding: 1.5% 2%;
          width: 25%;
          cursor: pointer;
        }
        button:active {
          outline: 3px solid aqua;
        }
      }
      .previous-winners {
        h3 {
          font-weight: 300;
        }
        hr {
          width: 90% !important;
          border-radius: 0 !important;
        }
        .winner-list {
          height: 10rem;
          overflow: scroll;
          display: inline-block;
          padding: 0 2% 2%;
          overflow-x: hidden;
        }
        .winner-list::-webkit-scrollbar {
          width: 5px;
          background-color: transparent;
        }
        .winner-list::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 10px;
        }
      }
    }
    // Pick Winner
    .pick-winner {
      button {
        margin-bottom: 3%;
        border: 0;
        outline: 1px solid aqua;
        border-radius: 10px;
        box-shadow: 0 0 3px black;
        font-weight: 700;
        color: white;
        font-size: 1.2rem;
        background: linear-gradient(to bottom right, $first_gradient, $second_gradient);
        padding: 1.5% 2%;
        width: 25%;
        cursor: pointer;
      }
      button:active {
        outline: 3px solid aqua;
      }
      h4 {
        font-weight: 300;
        padding: 0 5%;
      }
    }
  }
}
