.lottery {
  margin-top: 8%;
  text-align: center;
  position: relative;
  padding: 6% 4%;
  background-color: #e4e4ee;
}
.lottery h1 {
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.lottery hr {
  margin: 3% auto;
  width: 70%;
  border-radius: 50%;
}
.lottery .lottery-content {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid #6a11cb;
}
.lottery .lottery-content .lottery-pool {
  margin-bottom: 3%;
}
.lottery .lottery-content .lottery-pool h1 {
  margin-bottom: 1%;
}
.lottery .lottery-content .lottery-pool h2 {
  margin: 0;
  font-weight: 300;
}
.lottery .lottery-content .lottery-main .enter-eth input {
  width: 40%;
  border: none;
  outline: gray 1px solid;
  border-radius: 5px;
  padding: 1%;
  font-size: 1.5rem;
}
.lottery .lottery-content .lottery-main .enter-eth input::-webkit-outer-spin-button,
.lottery .lottery-content .lottery-main .enter-eth input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
.lottery .lottery-content .lottery-main .enter-eth button {
  margin-top: 2%;
  border: 0;
  outline: 1px solid aqua;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  padding: 1.5% 2%;
  width: 25%;
  cursor: pointer;
}
.lottery .lottery-content .lottery-main .enter-eth button:active {
  outline: 3px solid aqua;
}
.lottery .lottery-content .lottery-main .previous-winners h3 {
  font-weight: 300;
}
.lottery .lottery-content .lottery-main .previous-winners hr {
  width: 90% !important;
  border-radius: 0 !important;
}
.lottery .lottery-content .lottery-main .previous-winners .winner-list {
  height: 10rem;
  overflow: scroll;
  display: inline-block;
  padding: 0 2% 2%;
  overflow-x: hidden;
}
.lottery .lottery-content .lottery-main .previous-winners .winner-list::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.lottery .lottery-content .lottery-main .previous-winners .winner-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.lottery .lottery-content .pick-winner button {
  margin-bottom: 3%;
  border: 0;
  outline: 1px solid aqua;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  padding: 1.5% 2%;
  width: 25%;
  cursor: pointer;
}
.lottery .lottery-content .pick-winner button:active {
  outline: 3px solid aqua;
}
.lottery .lottery-content .pick-winner h4 {
  font-weight: 300;
  padding: 0 5%;
}/*# sourceMappingURL=Lottery.css.map */