@import "./Variables.scss";

.navbar {
  margin: 1% 0;
  span {
    background: linear-gradient(to right, $first_gradient, $second_gradient);
    background-clip: text;
    color: transparent;
    vertical-align: top;
    font-size: 3rem;
    font-weight: 700;
  }
}
