.navbar {
  margin: 1% 0;
}
.navbar span {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  vertical-align: top;
  font-size: 3rem;
  font-weight: 700;
}/*# sourceMappingURL=Navbar.css.map */